*{font-family:'Calibri' ,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}

            .navbar {
                position: absolute;
                top: 20px;
                right: 0;
                left: 0;
            }
            
            .dark-green-bg {
                background-color: rgb(164, 179, 53);
            }

            .light-green-bg {
                background-color: rgb(217, 229, 119);
            }

            .light-gray-bg {
                background-color: rgb(219, 219, 219);
            }

            .green-border {
                border: 1px solid rgb(217, 229, 119);
            }

            a {
                text-decoration: none;
                color: black;
            }

            .card-img-top {
                width: 285PX;
                height: 200PX;
            }

            .card-img-top:hover {
                transform: scale(1.1);
            }

            .vertical-text {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }

            .green-text {
                color: rgb(164, 179, 53);
            }

            .responsive-text {
                white-space: nowrap;
            }

            @media (min-width: 576px) {
                .responsive-text {
                font-size: 3.5rem;
                }
            }

            @media (min-width: 768px) {
                .responsive-text {
                font-size: 5rem; 
                }
            }

            @media (min-width: 992px) {
                .responsive-text {
                font-size: 9.5rem;
                }
            }

            @media (min-width: 1200px) {
                .responsive-text {
                font-size: 10rem;
                }
            }
            